<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>angular</title>
   <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
   <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script type="text/javascript">
 
    //购物车中的数据;
    //var boughtList = {};
</script>

<style>
*{margin:0; padding:0; list-style:none;}
#wrap{font-size:12px; line-height:20px; padding:20px;}
.left li{float:left; padding:10px;}
.shopcar li{float:left; padding:10px;}
</style>

</head>

<body>
<div id="wrap" ng-app="myApp" ng-controller="showItem">
    <div style="overflow:hidden">
        <ul class="left">
            <li ng-repeat="value in items">
                <p>序号：{{value.id}}</p>
                <p>名称：{{value.name}}</p>
                <p>单价：{{value.price}}</p>
                <button type="button" class="btn btn-xs" ng-click="addToShopCarList()">购买</button>
            </li>
        </ul>
    </div>
    
    <!-- 被水平线分隔的标题和段落： -->
    <hr />
    <hr />
    
    <p>购物车</p>
    <div class="shopcar">
        <ul style="overflow:hidden;">
            <li ng-repeat="value in shopCar" style="cursor:pointer">
                <p>名称：{{value.name}}</p>
                <p>数量：{{value.amount}}</p>
                <p>单价：{{value.price}}</p>
                <button class="btn btn-xs" ng-click="DelFromShopCarList()">删除</button>
            </li>
        </ul>
        <p>商品总价：{{total}} 元</p>
    </div>
     
</div>
<script type="text/javascript">
var item = [
    {id : '1',name : 'IPHONE6S' ,price : 5000},
    {id : '2',name : 'Udisk',price : 200},
    {id : '3',name : '主板',price : 350},
    {id : '4',name : '鼠标',price : 50},
    {id : '5',name : '键盘' ,price : 39},
    {id : '6',name : '显示器',price : 1018}
];
var shopCar=[];
var app=angular.module("myApp",[]);
app.controller("showItem",function($scope){
    $scope.total=0;
    $scope.items=item;
    $scope.shopCar=shopCar;
     
    $scope.DelFromShopCarList=function(){
        $scope.total-=this.value.price;
        for(var i=0;i<$scope.shopCar.length;i++){
            if($scope.shopCar[i].id==this.value.id){
                $scope.shopCar[i].amount-=1;
                if($scope.shopCar[i].amount===0){
                    $scope.shopCar.splice(i,1)
                }
            }
        }
    }
     
     
    $scope.addToShopCarList=function(){
 
        var item={
                name:this.value.name,
                price:this.value.price,
                id:this.value.id,
                amount:1,
        };
        var len=shopCar.length;
        var inArr=true;
        for(var i=0;i<len;i++){
            if(shopCar[i].id===this.value.id){
                inArr=false;
                shopCar[i].amount+=1;
                break;
            }
        }
         
        if(inArr){
            shopCar.push(item);
        }
         
        $scope.total+=shopCar[i].price;
    }
})
</script>
</body>
</html>