<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>angular</title>
   <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
   <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="style.css"/>
   <script type="text/javascript">
 
    //购物车中的数据;
    //var boughtList = {};
</script>



</head>

<body>
<div id="wrap" ng-app="myApp" ng-controller="showItem">
    <div style="overflow:hidden">
        <ul class="left">
            <li ng-repeat="value in items">
                <p>序号：{{value.id}}</p>
                <p>名称：{{value.name}}</p>
                <p>单价：{{value.price}}</p>
                <button type="button" class="btn btn-xs" ng-click="addToShopCarList()">购买</button>
            </li>
        </ul>
    </div>
    
    <!-- 被水平线分隔的标题和段落： -->
    <hr />
    <hr />
    
    <p>购物车</p>
    <div class="shopcar">
        <ul style="overflow:hidden;">
            <li ng-repeat="value in shopCar" style="cursor:pointer">
                <p>名称：{{value.name}}</p>
                <p>数量：{{value.amount}}</p>
                <p>单价：{{value.price}}</p>
                <button class="btn btn-xs" ng-click="DelFromShopCarList()">删除</button>
            </li>
        </ul>
        <p>商品总价：{{total}} 元</p>
    </div>
     
</div>
<script src="angular.js"></script>
</body>
</html>